%h1 Listing projects
%table
  %tr
    %th Title
    %th User
    %th Url
    %th Target amount
    %th Total amount
    %th
    %th
    %th
  - @projects.each do |project|
    %tr
      %td= project.title
      %td= project.user_id
      %td= project.url
      %td= project.target_amount
      %td= project.total_amount
      %td= link_to 'Show', project
      %td= link_to 'Edit', edit_project_path(project)
      %td= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Project', new_project_path

#grid
  %h1 プロジェクト一覧
  - @projects.each do |project|
    %h4= project.title
    %img{:src => project.imageurl}
    %p
      目標金額:
      =project.target_amount
      現在金額:
      =project.total_amount

