.row-fluid
  .span12.well
    %h3
      New Arrival & Hot Project

    -# New Arrival用
      - @projects.each do |project|
      - if project.slideshow?
        %h3= project.title
        %p= project.headline


    #grid
      - @projects.each do |project|
        .item
          %h4= project.title
          = link_to project do
            = image_tag project.image.url(:thumb), :alt => project.title
          %p
            目標金額:
            =project.target_amount
            %br
            現在金額:
            =project.total_amount

