%p
  手続きページ

.row
  .span12
    %h4
      プロジェクト立ち上げ：
      = @project.user.username
    %h2= @project.title

    .rewards
      - @project.rewards.each do |reward|
        %p
          = reward.id
          %img{:src => reward.image_url}
          %b
            = reward.title
          = reward.description

