.row#procedure_page_1
  .span12

    %h4= @project.title
    %p
      プロジェクト立ち上げ人：
      = @project.user.username

    -#
      とりあえずグリッドレイアウトでリワードを並べる
      が、この中がどうなるのかはレイアウトに書いてない
      個人的にはグリッドレイアウト＋横スクロールエリア+divを選択、がいいと思う

    %h3
      リワード選択
    - @project.rewards.each do |reward|
      .item
        %h5= reward.title
        %img{:src => reward.image_url}
        %p= reward.description
        %p= "支援金：#{reward.amount}円"
    %hr
    %p.total_amount
      現在選択されたリワードの合計支援金額：

