- @body_id = "project-new"
= content_for :page_title do
  %h2.page-title リワード作成

.row-fluid
  .span12
    .span8.well
      %h3 リワードの設定

      = simple_form_for @reward, :remote => true, :url => save_new_reward_path, :method => :post do |f|

        %h4 金額
        = f.input :amount, :label => false, :input_html => {:class => "span8"}
        %h4 リワード内容
        = f.input :description, :label => false, :input_html => {:class => "span8", :rows=> 3}
        %h4 個数制限
        = f.input :quantity_limit, :label => false,  :input_html => {:class => "span8"}

        %hr

        .span4.offset4
          = f.submit "リワードを追加する", :class => "strong btn btn-inverse"

    .span4.well
      %h4 リワードのプレビュー
      #reward-preview
        - @project.rewards.each do |reward|
          =reward_preview(reward)
