%p#notice= notice
%div.row-fluid
  %div.span12
    %h2<
      =@project.title
  %div.row-fluid
    %div.span8
      %h3>
        Thumbnails
      %div.thumbnails-wrap
        %ul.thumbnails
          %li.span3
            %img{:src => @project.image_url, :alt =>"#{@project.title}", :class => "img-polaroid"}
          %li.span3
            %img{:src => @project.image_url, :alt =>"#{@project.title}", :class => "img-polaroid"}
          %li.span3
            %img{:src => @project.image_url, :alt =>"#{@project.title}", :class => "img-polaroid"}
          %li.span3
            %img{:src => @project.image_url, :alt =>"#{@project.title}", :class => "img-polaroid"}
      / #これarticleでいいかな
      %article.project-detail
        %h3>
          Project Detail
        %p
          =@project.headline
      %div.comment
        %h3>
          Partner&Comment
          %p
            テストパラグラフテストパラグラフテストパラグラフ |
            テストパラグラフテストパラグラフテストパラグラフ |
            テストパラグラフテストパラグラフテストパラグラフ
    %div.span4
      %div.support
        %ul.thumbnails
          %li.span8
            %img{:src => @project.image_url, :alt => "#{@project.title}", :class => "img-polaroid"}

        -# link_toのパスに:idを挟む書き方がわからないのでとりあえず以下    
        = link_to "#{@project.id}/procedure" do
          %button{:class => "btn btn-success", :type => "button"}>
            このプロジェクトを支援
      %div.reward
        %h3>
          Reward
        %ul
        -@project.rewards.each do |reward|
          %li
            = reward.title
            %p
              = reward.description

