- @body_id = "project-page"
= content_for :page_title do
  %h2.page-title<
    =@project.title
.row-fluid
  .span8
    .well
      #project-image
        =image_tag @project.image.url(:show)
      #project-desc
        %h4>
          = "クリエイター名：" + @project.user.username
        %p{"jg" => "jTruncSubstr", "jg:jTruncSubstr" => "length:140, moreText:'もっと見る', lessText:'閉じる', lessAni:0"}
          = @project.description
        %hr
      #partner
        %h4>
          パートナー
        - @project.supports.each do |support|
          - if support.completed?
            .user-icon.span2
              .comment{:title => support.comment, "data-toggle" => "tooltip"}
                =image_tag('http://cambelt.co/80x80/User+Icon', :class => 'img-polaroid')
              %p= support.user.username if defined?(support.user.username)

    .span4.offset4
      = link_to "戻る", {:controller => "projects", :action => "new" },:class=> "btn btn-large"
      = link_to "次のページへ", @project,:class=> "btn btn-large btn-success"
  .span4.content#right
    .span12#amount
      .inline
        現在の支援額
        .pull-right
          目標支援額
          %b
            = @project.target_amount
          円
      %h2= "¥#{@project.total_amount}円"
      %hr
      .span12#support-data
        .span6
          パートナー
          - partner = 0
          - @project.supports.each do |support| #Dirty?
            - partner += 1 if support.completed?
          %h2.pull-right= "#{partner}人"
        .span6
          残り
          %h2.pull-right 00日
      %hr
    .span12#progress
      .progress.progress-striped.active
        - percentage = @project.total_amount.to_f / @project.target_amount.to_f * 100
        .bar(style='width:#{percentage}%;')
      %h4
        達成率
        =percentage.to_i.to_s + '%'
    = link_to :controller => "projects", :action => "procedure" do
      .span12#button-support
        -#%button.btn.btn-success.btn-large
        %h3 このプロジェクトを支援する
    .span12#rewards
      -@project.rewards.each do |reward|
        %hr
        %h4= "¥#{reward.amount}支援すると"
        %br
        %p= reward.description
        %br
        #reward-partner
          = image_tag('projects/Partner.png')
          %strong= "#{reward.support.length}/#{reward.quantity_limit} Partner"
        %br

