- @body_id = "project-page"
= content_for :page_title do
  %h2.page-title<
    =@project.title
- if notice
  %p#notice
    = flash[:notice]
.row-fluid
  .span7.content
    #project-image
      =image_tag('http://cambelt.co/670x300/Project+Image')
    #project-desc
      %h3>
        = "クリエイター名：" + @project.user.username
      %p{"jg" => "jTruncSubstr", "jg:jTruncSubstr" => "length:140, moreText:'もっと見る', lessText:'閉じる', lessAni:0"}
        = # 63文字 × 5行
        プロジェクトの説明プロジェクトの説明プロジェクトの説明プロジェクトの説明プロジェクトの説明プロジェクトの説明プロジェクトの説明
        プロジェクトの説明プロジェクトの説明プロジェクトの説明プロジェクトの説明プロジェクトの説明プロジェクトの説明プロジェクトの説明
        プロジェクトの説明プロジェクトの説明プロジェクトの説明プロジェクトの説明プロジェクトの説明プロジェクトの説明プロジェクトの説明
        プロジェクトの説明プロジェクトの説明プロジェクトの説明プロジェクトの説明プロジェクトの説明プロジェクトの説明プロジェクトの説明
        プロジェクトの説明プロジェクトの説明プロジェクトの説明プロジェクトの説明プロジェクトの説明プロジェクトの説明プロジェクトの説明
      %hr
    #partner
      %h3>
        パートナー
      - 12.times do
        .user-icon.span2
          =image_tag('http://cambelt.co/80x80/User+Icon', :class => 'img-polaroid')
          %span.comment
            コメントですよ。
  .span5.well
    .span12
      現在の支援額
      .row-fluid
        .span6
          パートナー
        .span6
          残り
    .span12
      達成率
    .span12
      = link_to "#{@project.id}/procedure" do
        %button{:class => "btn btn-success", :type => "button"}>
          このプロジェクトを支援する
    .span12
      %ul
      -@project.rewards.each do |reward|
        %li
          = reward.title
          %p
            = reward.description

