- @body_id = "mypage"
= content_for :page_title do
  %h2.page-title<
    クリエイターページ
%p#notice= flash[:notice] if notice
.container
  .row-fluid
    .span4#user-info
      .row-fluid
        .span12
          .row-fluid
            .span3
              =image_tag('http://cambelt.co/80x80/User+Icon', :class => 'img-polaroid')
            .span8.offset1
              %p>
                = @user.username
          %hr
        .span12
          %p
            作成中のプロジェクト
          %hr
        .span12#download
          %div
            =image_tag('http://cambelt.co/35x35/DL', :class => 'img-polaroid')
          %p
            ブログパーツ・ソースコードのDL
    .span8
      %ul.unstyled
        - @user.projects.each do |project|
          %li.project
            .row-fluid
              .span4.left-content
                %h3.project-title>
                  project.title
                =image_tag('http://cambelt.co/150x150/Project+Image', :class => 'img-polaroid')
              .span8
                .row-fluid
                  .span12
                    %p
                      現在のプロジェクトの状況
                    %hr
                  .span12
                    %p
                      現在の支援額
                    %hr
                  .row-fluid
                    .span6#partner
                      パートナー
                    .span6
                      残り
                  %hr
                  .span12
                    %p
                      達成率
                    .progress.progress-striped.active
                      - percentage = project.total_amount.to_f / project.target_amount.to_f * 100
                      .bar(style='width:#{percentage}%;')
                        %span
                          = percentage.to_i.to_s + '%'
                  .span12
                    = link_to 'プロジェクトを編集', edit_project_path(project.id), {:class => 'pull-right'}
