- @body_id = "mypage"
= content_for :page_title do
  %h2.page-title<
    クリエイターページ
.container
  .row-fluid
    .span4#user-info
      .row-fluid
        .span12
          .row-fluid
            .span3
              =image_tag('http://cambelt.co/80x80/User+Icon', :class => 'img-polaroid')
            .span8.offset1
              %p>
                = @user.username
              %p>
                = link_to '新しくプロジェクトを作成する', new_project_path
          %hr
        .span12
          %ul.unstyled#profile-tab
            %li
              = link_to '作成中のプロジェクト', '#my-projects', {"data-toggle" => "tab", "data-target" => "#my-projects"}
            %li
              = link_to '支援したプロジェクト', '#project-list', {"data-toggle" => "tab", "data-target" => "#project-list"}
            %li
              = link_to 'ユーザー情報', '#profile', {"data-toggle" => "tab", "data-target" => "#profile"}
          %hr
        .span12#download
          %div
            =image_tag('http://cambelt.co/35x35/DL', :class => 'img-polaroid')
          %p
            ブログパーツ・ソースコードのDL
    .span8
      .tab-content
        /自分が作成したプロジェクトリスト
        .tab-pane#my-projects
          %ul.unstyled
            - @user.projects.each do |project|
              %li.project
                .row-fluid
                  .span4.left-content
                    %h3.project-title>
                      =project.title
                    = image_tag project.image.url(:mypage), :alt => project.title
                  .span8.right-content
                    .row-fluid
                      .span12
                        %p
                          現在のプロジェクトの状況
                        %hr
                      .row-fluid
                        .span7
                          %p
                            現在の支援額
                          %p
                            ¥
                            = project.total_amount
                        .span5
                          %p
                            目標支援額 ¥
                            =project.target_amount
                      %hr
                      .row-fluid
                        .span6#partner
                          %p
                            パートナー
                          %p
                            = project.supports.length
                            人
                        .span6
                          %p
                            残り
                          %p
                      %hr
                      .span12
                        %p
                          達成率
                        .progress.progress-striped.active
                          - percentage = project.total_amount.to_f / project.target_amount.to_f * 100
                          .bar(style='width:#{percentage}%;')
                            %span
                              = percentage.to_i.to_s + '%'
                      .span12
                        = link_to 'プロジェクトを編集', edit_project_path(project.id), {:class => 'pull-right'}

        /ユーザー情報
        .tab-pane#profile
          .row-fluid
            .span12
              %h4 ユーザー情報
              %hr
              .span4
                %p メールアドレス
                %p ユーザーネーム
                %p パスワード
                %p アイコン
                %p.text-info#profile-image-subscription

              .span4
                %p.editable#email= @user.email
                %p.editable#username= @user.username
                %p.editable= "パスワード変更：未実装"
                =image_tag('http://cambelt.co/80x80/User+Icon', :class => 'img-polaroid')
                %br
                #image-upload
                  = file_field :users,:icon,:accept => "image/*"
              .span3.pull-right.well
                %p#edit-subscription
                  「編集する」ボタンを押すと、ユーザー情報をクリックして編集可能になります！
                %br
                %button.btn.btn-inverse#edit-button 編集する
                %button.btn.btn-primary#save-button{:role => "button", "data-toggle" => "modal", "data-target" => "#modal-confirm"} 保存する

              -#保存ボタンを押したときのmodal-window
              #modal-confirm.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
                .modal-header
                  %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
                  %h3#myModalLabel 編集内容の確認
                .modal-body
                  .row-fluid
                    .span6
                      %p メールアドレス
                      %p ユーザー名
                      %p アイコン
                    .span6
                      %p#modal-email
                      %p#modal-username

                .modal-footer
                  = form_for @user do |f|
                    = f.hidden_field :email
                    = f.hidden_field :username
                    = f.hidden_field :icon
                    %button.btn{"aria-hidden" => "true", "data-dismiss" => "modal"} Close
                    = submit_tag "Save Changes", :class => "btn btn-primary", :id => "change-button"



        /支援したプロジェクトリスト
        .tab-pane#project-list
          %ul.unstyled
            - supports = Array.new #同じプロジェクトを2回支援している可能性
            - @user.supports.each do |support|
              - project = support.project #何回か利用するので予め変数に代入
              %li.project
                .row-fluid
                  .span4.left-content
                    %h3.project-title>
                      =project.title
                    =image_tag('http://cambelt.co/200x200/Project+Image', :class => 'img-polaroid')
                  .span8.right-content
                    .row-fluid
                      .span12
                        %p
                          現在のプロジェクトの状況
                        %hr
                      .row-fluid
                        .span7
                          %p
                            現在の支援額
                          %p
                            ¥
                            = project.total_amount
                        .span5
                          %p
                            目標支援額 ¥
                            =project.target_amount
                      %hr
                      .row-fluid
                        .span6#partner
                          %p
                            パートナー
                          %p
                            = project.supports.length
                            人
                        .span6
                          %p
                            残り
                          %p
                      %hr
                      .span12
                        %p
                          達成率
                        .progress.progress-striped.active
                          - percentage = project.total_amount.to_f / project.target_amount.to_f * 100
                          .bar(style='width:#{percentage}%;')
                            %span
                              = percentage.to_i.to_s + '%'
                      .span12
                        %p
                          支援額 ¥
                          =support.amount
                        %hr
                      .span12
                        %p
                          コメント
                        %p
                          = support.comment
                      .span12
                        = link_to 'コメントを編集', edit_support_path(support.id), {:class => 'pull-right'}
