%footer
  .container
    .row
      .span6.offset6.pull-right
        .fb-like-box{"data-href" => "http://www.facebook.com/platform", "data-header" => "true", "data-width" => "450", "data-height" => "250", "data-show-faces" => "true", "data-stream" => "false"}
  .container
    %nav.nav.nav-pills.pull-left
      %li>
        = link_to '特定商取引に基づく表記利用規約', about_path
      %li>
        = link_to 'プライバシーポリシー', '#'
      %li>
        = link_to 'お問い合わせ', '#'
      %li>
        = link_to 'プレスルーム', '#'
      %li.disabled>
        = link_to '採用情報', '#'
      %li>
        = link_to '運営会社', '#'
      %li.disabled>
        = link_to 'Copyright (c) 2013 AWL CO.,Ltd. All Rights Reserved.', '#', {:id => 'copyright'}
