!!!
%html
  %head
    %title AwlDev
    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0" }
    = csrf_meta_tags
    = stylesheet_link_tag "application", :media => "all"
    = yield :head
  %body{:id => @body_id, :class => "preview", "data-offset" => "50", "data-spy" => "scroll", "data-target" => ".subnav"}
    = render 'layouts/fb-root'
    %header
      #navigation
        .navbar.navbar-fixed-top
          .navbar-inner
            .container
              %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
                %span.icon-bar
                %span.icon-bar
                %span.icon-bar
              = link_to 'AWL', root_path, :class => 'brand'
              .nav-collapse
                %ul.nav.pull-right
                  %li>
                    = link_to image_tag('About.png'), about_path
                  %li>
                    = link_to image_tag('Project.png'), projects_path
                  -if user_signed_in?
                    %li>
                      = link_to 'Mypage', mypage_index_path(:username => current_user.username)
                    %li#last>
                      = link_to 'Logout', destroy_user_session_path, :method => :delete
                  -else
                    %li>
                      %a#nav_login_home{"data-toggle" => "popover"}
                        = image_tag('Log-in.png')
                    %li#last>
                      = link_to image_tag('Sign-up.png'), new_user_registration_path
    = yield :page_title
    .container.main
      = render :partial => "layouts/flash_messages", :locals => {:flash => flash}
      = yield
    = render 'layouts/footer'
    = javascript_include_tag "application"
    = yield :javascript
