<!DOCTYPE html>
<html>
<head>
  <title>AwlDev</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="preview" data-spy="scroll" data-target=".subnav" data-offset="50">
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <%= link_to 'AWL', root_path, :class => 'brand' %>
        <div class="nav-collapse" id="main-menu">
	        <ul class="nav" id="main-menu-left">
	          <li><%= link_to 'projects', projects_path %></li>
	          <li><%= link_to 'about us', about_path %></li> 
	          <% if user_signed_in? %>
		  <li><%= link_to 'Mypage', mypage_index_path(:username => current_user.username) %></li>
							<li><%= link_to 'Logout', destroy_user_session_path, :method => :delete %></li>
	            <li></li>
	          <% else %>
	            <li><%= link_to 'Login', new_user_session_path %></li>
	            <li><%= link_to 'sign up', new_user_registration_path %></li>
	          <% end %>
            <!-- dropdown menu example -->
            <!--
            <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
            </ul>
          </li>
        -->
	        </ul>
        </div>
      </div>
    </div>
  </div>
  
  <section class="container">
    <%= yield %>
  </section>
</body>
</html>

