<!DOCTYPE html>
<html>
<head>
  <title>AwlDev</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header id="pg-header">
    <h1>awl</h1>
    <nav>
      <ul>
	<li>projects</li>
	<li>about us</li>
	
	<% if user_signed_in? %>
	<li>
	  <%= link_to 'Logout', destroy_user_session_path, :method => :delete %>
	</li>
	<li></li>
	
	<% else %>
	<li><%= link_to 'Login', new_user_session_path %></li>
	<li>sign up</li>
	<% end %>
      </ul>
    </nav>
  </header>
  <section id="wrapper">
    <%= yield %>
  </section>

</body>
</html>
