!!!
%html
  %head
    %title AwlDev
    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0" }
    = csrf_meta_tags
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = yield :header
  %body{:id => @body_id, :class => "preview", "data-offset" => "50", "data-spy" => "scroll", "data-target" => ".subnav"}
    %header
      #navigation
        .navbar.navbar-fixed-top
          .navbar-inner
            .container
              %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
                %span.icon-bar
                %span.icon-bar
                %span.icon-bar
              = link_to 'AWL', root_path, :class => 'brand'
              .nav-collapse
                %ul.nav.pull-right
                  %li.divider-vertical
                  %li>
                    = link_to 'home', root_path
                  %li.divider-vertical
                  %li>
                    = link_to 'projects', projects_path
                  %li.divider-vertical
                  %li>
                    = link_to 'about', about_path
                  %li.divider-vertical
                  -if user_signed_in?
                    %li>
                      = link_to 'mypage', mypage_index_path(:username => current_user.username)
                    %li.divider-vertical
                    %li>
                      = link_to 'logout', destroy_user_session_path, :method => :delete
                  -else
                    %li>
                      = link_to 'login', new_user_session_path
                    %li.divider-vertical
                    %li>
                      = link_to 'signup', new_user_registration_path
                  %li.divider-vertical
    = yield
