!!!
%html
  %head
    %title AwlDev
    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0" }
    = csrf_meta_tags
    = stylesheet_link_tag "application", :media => "all"
    = yield :head
  %body{:id => @body_id, :class => "preview", "data-offset" => "50", "data-spy" => "scroll", "data-target" => ".subnav"}
    = render 'layouts/fb-root'
    %header
      #navigation
        .navbar.navbar-fixed-top
          .navbar-inner
            .container
              %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
                %span.icon-bar
                %span.icon-bar
                %span.icon-bar
              = link_to 'AWL', root_path, :class => 'brand'
              .nav-collapse
                %ul.nav.pull-right
                  %li
                    .icon.about
                      - #空div
                    = link_to('About', about_path)
                  %li
                    .icon.project
                      - #空div
                    = link_to('Project', projects_path)
                  -if user_signed_in?
                    %li
                      .icon.mypage
                        - #空div
                      = link_to('MyPage', mypage_index_path(:username => current_user.username))
                    %li#last>
                      .icon.login-out
                        - #空div
                      = link_to('Logout', destroy_user_session_path, :method => :delete)
                  -else
                    %li
                      .icon.login-out
                        - #空div
                      %a#nav_login_home{"data-toggle" => "popover"}
                        Login
                    %li#last>
                      .icon.signup
                        - #空div
                      = link_to('Signup', new_user_registration_path)
    = yield :page_title
    .container.main
      = render :partial => "layouts/flash_messages", :locals => {:flash => flash}
      = yield
    = render 'layouts/footer'
    = javascript_include_tag "application"
    = yield :javascript
