!!!
%html
  %head
    %title AwlDev
    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0" }
    = csrf_meta_tags
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = yield :header
  %body#home
    #fb-root
    %script
      (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=483779848307263";
      fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    %header
      #cover
        #bg
          #welcome
            .container
              .row
                .span4.offset1
                  %h1>
                    = image_tag('http://cambelt.co/120x120/Logo?color=25d54e', :alt => 'AWL')
                    AWL
                .span7
                  %h2#awl-phrase>
                    クリエイターをもっと自由に。マニアを共犯者に。
                  .row
                    .span8.offset1
                      %p#awl-desc
                        AWLは、クリエイターとマニアをつなぐ、サブカルチャーに
                        %br
                        特化したクラウドファンディングサイトです。
      #navigation
        .navbar.navbar-static-top.affix-top{"data-spy" => "affix", "data-offset-top" => "430"}
          .navbar-inner
            .container
              %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
                %span.icon-bar
                %span.icon-bar
                %span.icon-bar
              = link_to 'AWL', root_path, :class => 'brand'
              .nav-collapse
                %ul.nav.pull-right
                  %li.divider-vertical
                  %li>
                    = link_to 'home', root_path
                  %li.divider-vertical
                  %li>
                    = link_to 'projects', projects_path
                  %li.divider-vertical
                  %li>
                    = link_to 'about', about_path
                  %li.divider-vertical
                  -if user_signed_in?
                    %li>
                      = link_to 'mypage', mypage_index_path(:username => current_user.username)
                    %li.divider-vertical
                    %li>
                      = link_to 'logout', destroy_user_session_path, :method => :delete
                  -else
                    %li>
                      = link_to 'login', new_user_session_path
                    %li.divider-vertical
                    %li>
                      = link_to 'signup', new_user_registration_path
                  %li.divider-vertical
    .container
      = yield
    %footer
      .container
        .row
          .span6.offset6.pull-right
            .fb-like-box{"data-href" => "http://www.facebook.com/platform", "data-header" => "true", "data-width" => "450", "data-height" => "250", "data-show-faces" => "true", "data-stream" => "false"}
      .container
        %nav.nav.nav-pills.pull-left
          %li>
            = link_to '特定商取引に基づく表記利用規約', about_path
          %li>
            = link_to 'プライバシーポリシー', '#'
          %li>
            = link_to 'お問い合わせ', '#'
          %li>
            = link_to 'プレスルーム', '#'
          %li.disabled>
            = link_to '採用情報', '#'
          %li>
            = link_to '運営会社', '#'
          %li.disabled>
            = link_to 'Copyright (c) 2013 AWL CO.,Ltd. All Rights Reserved.', '#', {:id => 'copyright'}

