!!!
%html
  %head
    %title AwlDev
    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0" }
    = csrf_meta_tags
    = stylesheet_link_tag "application", :media => "all"
    = yield :head
  %body#home
    = render 'layouts/fb-root'
    %header
      #cover
        #bg
          #welcome
            .container
              .row
                .span4.offset1
                  %h1>
                    = image_tag('http://cambelt.co/120x120/Logo?color=25d54e', :alt => 'AWL')
                    AWL
                .span7
                  %h2#awl-phrase>
                    クリエイターをもっと自由に。マニアを共犯者に。
                  .row
                    .span8.offset1
                      %p#awl-desc
                        AWLは、クリエイターとマニアをつなぐ、サブカルチャーに
                        %br
                        特化したクラウドファンディングサイトです。
      #navigation
        .navbar.navbar-static-top.affix-top{"data-spy" => "affix", "data-offset-top" => "430"}
          .navbar-inner
            .container
              %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
                %span.icon-bar
                %span.icon-bar
                %span.icon-bar
              = link_to 'AWL', root_path, :class => 'brand'
              .nav-collapse
                %ul.nav.pull-right
                  %li.divider-vertical
                  %li>
                    = link_to 'About', about_path
                  %li.divider-vertical
                  %li>
                    = link_to 'Projects', projects_path
                  %li.divider-vertical

                  -if user_signed_in?
                    %li>
                      = link_to 'Mypage', mypage_index_path(:username => current_user.username)
                    %li.divider-vertical
                    %li>
                      = link_to 'Logout', destroy_user_session_path, :method => :delete
                  -else
                    %li>
                      %a#nav_login_home{"data-toggle" => "popover"} Login
                    %li.divider-vertical
                    %li>
                      = link_to 'Signup', new_user_registration_path
                  %li.divider-vertical
    .container.main
      = yield
    = render 'layouts/footer'
    = javascript_include_tag "application"
    = yield :javascript

